body{
    margin-bottom: 40px;
} 

.navboi{
    height: 100%;
    float: left;
    overflow: hidden;
    margin-top: 100px;
}

.code{
    background-color: rgb(252, 250, 250);
}

#nav-head{
    display: inline-block;
    color: white;
}

@media screen and (max-width: 1080px) {
    .navboi{
        width:100%
    }
  }