:root {
  font-family: "Open Sans", sans-serif;
}
h1 {
  font-family: "Roboto", sans-serif;
}

#nav-bar {
  position: fixed;
  margin-top: 0;
  padding: 0px;
  width: 100%; /* i'm assuming full width */
  height: 80px; /* change it to desired width */
  background-color: white;
}

#header-img {
  display: inline-block;
  vertical-align: top;
  max-width: 100px;
  background-color: white;
  margin-right: 20px;
  margin-top: 15px;
}

nav a {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  height: 80px; /* if you want it to take the full height of the bar */
  line-height: 80px;
  float: right;
  text-decoration: none;
  color: #29abe2;
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.center-boi {
  text-align: center;
  width: 70%;
}
#About-us{
  margin-top: 100px;
}

h3 {
  font-family: "Roboto", sans-serif;
  
}
#features{
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  grid-auto-rows: 330px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.features{
 
  display: block;
  max-width: 200px;
  text-align:center;
  align-items:flex-end;
}

.features > img{
  max-width: 200px;
  height: auto;
}

#video{
  margin-top: 50px;
}

#contact{
  margin-top: 50px;
  margin-bottom: 50px;
}

@media screen and (max-width: 480px) {
  body {
    background-color: #29abe2;
  }
}